<% layout('layouts/boilerplate') %>
<h1 class="text-center lgText brandFont my-3 pt-3 pb-2 titreFra d-none d-sm-block">Le Current Courant</h1>
<h1 class="text-center lgMobileText brandFont my-3 pt-3 pb-2 titreFra d-block d-sm-none">Le Current Courant</h1>
<hr>
<a class="ccBtn navText ms-2 me-3 my-2" href="/articles/new">Contribuez</a>
<hr class="mb-5">
<div id="articles-container" class="row">
	<% for (let article of articles.docs){ %>
	<div class="col-md-6 col-lg-4 col-xl-3">
		<div class="card mb-3 bgFra">
			<% if (article.images.length) { %>
			<img class="img-fluid" alt="" src="<%= article.images[0].url %>">
			<% } else { %>
			<img class="img-fluid" alt="" src="">
			<% } %>
			<div class="card-body">
				<h5 class="card-title mdText contentFont"><%= article.titre %></h5>
				<p class="card-text smText contentFont"><%= article.contenu.substring(0, 300) %>...</p>
				<a class="ccBtn mdBtn" href="/articles/<%= article._id %>">Lire la suite</a>
			</div>
		</div>
	</div>
	<% } %>
</div>
<div class="text-center my-4">
	<a id="paginate" class="ccBtn mdBtn" href="/articles?page=<%= articles.nextPage %>">Voir Plus</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/scripts/pagination.js"></script>